<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986514507040-qlr2o64i6nknvjj6b7tluihsa4au1nq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986514507040-qlr2o64i6nknvjj6b7tluihsa4au1nq3</string>
	<key>API_KEY</key>
	<string>AIzaSyDHLdWQGSQp_CwNO4jHej69r6O8N7_ub-M</string>
	<key>GCM_SENDER_ID</key>
	<string>986514507040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pineappleTok</string>
	<key>PROJECT_ID</key>
	<string>pineapple-tok-12340717</string>
	<key>STORAGE_BUCKET</key>
	<string>pineapple-tok-12340717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986514507040:ios:7cf9516609fbf162180345</string>
</dict>
</plist>